<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Panther_00012.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panther_00013.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panther_00014.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panther_00024.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panther_00025.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panther_00026.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panther_00036.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panther_00037.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,245},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panther_00038.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panther_00048.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,367},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panther_00049.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,245},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panther_00050.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,367},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>yellow_cat2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1ae670bd613e15fd8e32a5e5334ab13:a7ea5201619ae285038d3552dbc21277:e76ed1e93c3f48ab38fb2c982d31f12b$</string>
            <key>textureFileName</key>
            <string>yellow_cat2.png</string>
        </dict>
    </dict>
</plist>
