<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>green_cat_18_016.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_cat_18_017.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_cat_18_018.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_cat_18_031.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_cat_18_032.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_cat_18_033.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_cat_18_046.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_cat_18_047.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,245},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_cat_18_048.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_cat_18_061.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,367},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_cat_18_062.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,245},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_cat_18_063.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,367},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>green_cat3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d4852047cde745b0e89d6b032e68137:52a4ac6bfa5fa2549e759e853197305b:65e79ef3a3801377ab43366fcda120ae$</string>
            <key>textureFileName</key>
            <string>green_cat3.png</string>
        </dict>
    </dict>
</plist>
