<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Queen_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,300}</string>
                <key>spriteSourceSize</key>
                <string>{153,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Queen_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,300}</string>
                <key>spriteSourceSize</key>
                <string>{153,300}</string>
                <key>textureRect</key>
                <string>{{156,1},{153,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Queen_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,300}</string>
                <key>spriteSourceSize</key>
                <string>{153,300}</string>
                <key>textureRect</key>
                <string>{{1,303},{153,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Queen_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,300}</string>
                <key>spriteSourceSize</key>
                <string>{153,300}</string>
                <key>textureRect</key>
                <string>{{311,1},{153,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>girl3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd8544b2d418f193d1ad3288d74dbfc9:7dfdf9aa64d3c95746a390dd294f9c99:da3e8a65b85b01a3ebd0595ec7a6a98f$</string>
            <key>textureFileName</key>
            <string>girl3.png</string>
        </dict>
    </dict>
</plist>
