<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diamond_10001_00081.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_10001_00083.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_10001_00085.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_10001_00087.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{153,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_10001_00089.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,278},{153,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_10001_00091.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{123,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>diam5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:542b2977f39f3df50b05a0595d6748ae:b890dce86304d44c6190b4a36300d475:5a993f413b665e1f32495196ec646888$</string>
            <key>textureFileName</key>
            <string>diam5.png</string>
        </dict>
    </dict>
</plist>
