<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cheetah_symbol_00036.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cheetah_symbol_00038.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cheetah_symbol_00040.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cheetah_symbol_00054.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cheetah_symbol_00056.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cheetah_symbol_00058.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cheetah_symbol_00072.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,367},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cheetah_symbol_00074.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,245},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cheetah_symbol_00076.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cheetah_symbol_00090.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,367},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>green_cat4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b0a57d799b0d67f521cab8d8ee17f19:eada91ff1049f51927615e287a5adf7f:67bf522c3aceb7aacfdf20196b454953$</string>
            <key>textureFileName</key>
            <string>green_cat4.png</string>
        </dict>
    </dict>
</plist>
