<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Leopard_symbol_00099_00200.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leopard_symbol_00099_00204.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{156,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leopard_symbol_00099_00208.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{311,1},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leopard_symbol_00099_00212.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{153,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Leopard_symbol_00099_00216.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{1,278},{153,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Leopard_symbol_00099_00220.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{123,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leopard_symbol_00099_00224.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{278,123},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leopard_symbol_00099_00228.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{123,245},{153,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Leopard_symbol_00099_00232.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{245,245},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leopard_symbol_00099_00236.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,120}</string>
                <key>spriteSourceSize</key>
                <string>{153,120}</string>
                <key>textureRect</key>
                <string>{{245,367},{153,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>blue_cat6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4def76f47126fbf9d30f1655c934c41a:918c186c284fc75549dffbd1072874a5:ce61f33e999c69f623da40b12dddd8ca$</string>
            <key>textureFileName</key>
            <string>blue_cat6.png</string>
        </dict>
    </dict>
</plist>
